html {
  	--spinner: #1EAAF0;
  	--center: translate(-50%, -35%);
}

html, body {
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: center;
	font-family:'Montserrat', sans-serif;
}

h1, p {	
	font-weight: normal;
	font-family:'Montserrat', sans-serif;
}

h1 {
	font-size: min(8.5vw, 60px);
}

.theHeader {
	margin-top: 75px;
	font-size: min(4vw, 25px);
}

.orbContainer {
	display: flex;
	align-items: center;
	top: 50%;
   	left: 50%;
   	transform: var(--center); 
	position: absolute;
	width: min(70vw, 400px);
	height: min(70vw, 400px);
	border: 1px solid black;
	border-radius: 50%;
}

.theLaw_start, .theLaw_end, .theProphets_start, .theProphets_end {
	position: absolute;
	border: 12px solid;
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.theLaw_start {
	border-color: rgb(130, 143, 255) transparent transparent transparent;
	transform: translate(-4%, -0%) rotate(45deg); 
}

.theLaw_end {
	border-color: rgb(255, 255, 255) transparent transparent transparent;
	transform: translate(-4%, -0%) rotate(115deg); 
}

.theProphets_start {
	border-color: rgb(190, 255, 130) transparent transparent transparent;
	transform: translate(-4%, -0%) rotate(125deg); 
}

.theProphets_end {
	border-color: rgb(255, 255, 255) transparent transparent transparent;
	transform: translate(-4%, -0%) rotate(150deg); 
}